<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="tailwind.css" rel="stylesheet">
</head>

<body>
    <%
    const weekdayNames = [
        "SUN",
        "MON",
        "TUE",
        "WED",
        "THU",
        "FRI",
        "SAT"
    ];

    const today = new Date();
    %>

    <div id="upper-left">
        <img id="rotating-circle" src="images/WEATHER_NEWS.SPR_3.png" alt="">
    </div>

    <div id="upper-right">
        <img src="images/CAMP.BIN_38.png" alt="">

        <div id="date">
            <p>09/19</p>
        </div>

        <div id="day-period">
        </div>
    </div>

    <div id="weather-cards">
        <%
        for (let i = 0; i < 7; i++) {
            let date = new Date();
            date.setDate(today.getDate() + i + 1);
        %>
        <div class="weather-card">
            <span class="week-day"><%= weekdayNames[date.getDay()] %></span>
            <span class="month-day"><%= date.getDate() %></span>
        </div>
        <%
        }
        %>
    </div>

    <p id="area-panel">This is the weekly forecast for the xxx area.</p>
</body>
</html>