@font-face {
	font-family: IwonaHeavyRegular;
	src: url(../fonts/IwonaHeavy-Regular.ttf);
}

body {
	@apply m-0 text-base bg-gray-800 relative h-screen;
	font-family: IwonaHeavyRegular, serif;
}

p {
	@apply m-0;
}

#weather-cards {
	@apply flex flex-row space-x-3 justify-center items-center h-full;
}

.weather-card {
	@apply flex flex-col rounded text-center p-1;
	background-color: #ffea17;

	.week-day {
		@apply text-sm;
	}

	.month-day {
		@apply text-lg;
	}
}

#area-panel {
	@apply bg-black text-white px-8 py-2 rounded-l w-9/12 right-0 bottom-1 absolute;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

#rotating-circle {
	@apply absolute;
	top: -9%;
	left: -4%;
	animation: rotation 8s infinite linear;
}

#upper-right {
	@apply absolute right-0 top-0;
}
